#dashboard {
  height: 100vh;
}

#dashboard header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#dashboard header .logo {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard header .logo .fa-search {
  color: #bbbcc0;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#dashboard header .logo .fa-search:hover {
  background: #f7f9f8;
}

#dashboard header .header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard header .header-menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #c5c5c5;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

#dashboard header .header-menu a:hover {
  font-weight: 700;
  color: black;
}

#dashboard header .menu-btn {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard header .menu-btn .fa-bell {
  color: #bbbcc0;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
  font-size: 1.2rem;
}

#dashboard header .menu-btn .fa-bell:hover {
  color: #bbbcc0;
  background: #f7f9f8;
}

#dashboard header .menu-btn .avatar {
  height: 50px;
  width: 50px;
  background: url("https://pbs.twimg.com/profile_images/501759258665299968/3799Ffxy.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

#dashboard .welcome-section {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}

#dashboard .welcome-section .img {
  background: url("../images/welcomeImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin-left: 150px;
}

#dashboard .welcome-section .content {
  margin-left: 20px;
}

#dashboard .welcome-section .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

#dashboard .welcome-section .content p {
  color: #bbbcc0;
  font-size: 0.9rem;
  font-weight: 600;
}

#dashboard .content-section {
  height: calc(100vh - 215px);
  background: #f7f7f7;
}

#dashboard .content-section .content-box {
  background: #f7f7f7;
  padding: 35px 55px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
}

#dashboard .content-section .content-box .box {
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(187, 188, 192, 0.8);
  -moz-box-shadow: 5px 5px 5px 0px rgba(187, 188, 192, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(187, 188, 192, 0.8);
}

#dashboard .content-section .content-box .box .title-box {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f8f8f8;
}

#dashboard .content-section .content-box .box .title-box .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard .content-section .content-box .box .title-box .logo i {
  margin-left: 15px;
  color: #5a5f72;
  font-size: 1.3rem;
  position: relative;
}

/* BLUE COLOR CUSTOM STYLING ON ICON
#dashboard .content-section .content-box .box .title-box .logo i .bluecircle {
    height: 20px;
    width: 20px;
    background: rgb(120, 145, 219);
    opacity: .5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
*/

#dashboard .content-section .content-box .box .title-box .logo h4 {
  margin-left: 5px;
  color: #64707c;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

#dashboard .content-section .content-box .box .title-box .fa-chevron-right {
  color: #64707c;
  margin-right: 15px;
  cursor: pointer;
  font-size: 0.8rem;
}

#dashboard .content-section .content-box .box .content-area {
  display: block;
  padding: 15px;
}

#dashboard .content-section .content-box .box .content-area p {
  color: #bbbcc0;
  font-weight: 600;
  line-height: 2;
}

#dashboard .content-section .content-box .box .content-area p span {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

#dashboard .content-section .content-box .box .content-area h3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 0;
}

#dashboard .content-section .content-box .box .content-area .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard .content-section .content-box .box .content-area i {
  font-size: 1rem;
  color: #64707c;
  cursor: pointer;
}

#dashboard .content-section .content-box .box .content-area .expand-btn {
  color: rgb(88, 187, 175);
  font-weight: 600;
  padding-top: 10px;
}

#dashboard .content-section .content-box .grid1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

/* Phones */
@media only screen and (max-width: 767px) {
  #dashboard header {
    padding: 10px 0;
  }

  #dashboard header .logo {
    margin-left: 5px;
  }
  #dashboard header .header-menu a {
    font-size: 1rem;
    padding: 0 5px;
  }

  #dashboard header .menu-btn .fa-bell {
    margin-right: 5px;
    font-size: 1rem;
  }

  #dashboard .welcome-section .img {
    margin-left: 10px;
  }

  #dashboard .welcome-section .content {
    margin-left: 7px;
  }

  #dashboard .welcome-section .content h2 {
    font-size: 1.2rem;
  }

  #dashboard .welcome-section .content p {
    font-size: 0.7rem;
  }

  #dashboard .content-section .content-box {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 25px;
  }
}
